@font-face {
  font-family: 'custom';
  src: url() format('truetype');
}  

.AE {
    font-family: 'custom';
    font-size: 30pt;
    font-style: italic;
}


@keyframes marquee {
 0%   { text-indent: 0% }
 100% { text-indent: 100% }
}

.marquee {
 width: 300px;
 margin: auto;
 padding: 2px;
 overflow: hidden;
 white-space: nowrap;
 border: solid 1px #CCCCCC;
 animation: marquee 3s linear infinite;
}

.marquee:hover {
 animation-play-state: paused;
}